@import 'stylesheets/base.scss';

.main {

  display: flex;
  padding-left: $paddingLr;
  padding-top: $paddingLr;

  .sidebar {
    flex: 30%;
    width: $defaultNavWidth;
  }

  .content {
    flex: 70%;
  }
}
