@import 'stylesheets/base.scss';

$selectArrowWidth: 8px;
$selectArrowHeight: 11px;

$selectArrowPart1Angle: 55deg;
$selectArrowPart2Angle: 125deg;

$selectArrowPosition1: calc(#{$fullWidth} - #{$marginMd} - #{$selectArrowWidth}) $halfHeight;
$selectArrowPosition2: calc(#{$fullWidth} - #{$marginMd}) $halfHeight;

$selectArrowSize: $selectArrowWidth $selectArrowHeight;

$selectDefaultPadding: $paddingSm $paddingMd;

@function arrow-part($angle, $color1, $color2) {
 @return linear-gradient($angle, $color1 50%, $color2 50%);
}

.select-default {
  @extend .font-14;
  position: relative;

  .label {
    padding: $paddingSm $paddingMd;

    border: none;
    box-shadow: none;
    background-image:
      arrow-part($selectArrowPart1Angle, transparent, $lightGray),
      arrow-part($selectArrowPart2Angle, $lightGray, transparent);
    background-position: $selectArrowPosition1, $selectArrowPosition2;
    background-size: $selectArrowSize;
    background-repeat: no-repeat;
    color: $defaultColor;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
  }
  &.open .label {
    background-image:
      arrow-part($selectArrowPart1Angle, $lightGray, transparent),
      arrow-part($selectArrowPart2Angle, transparent, $lightGray);
    background-position: $selectArrowPosition2, $selectArrowPosition1;
    background-size: $selectArrowSize;
    background-repeat: no-repeat;
  }
  .options {
    @extend .default-border;

    background-color: $white;
    left: 0;
    max-height: 300px;
    margin: $marginMd 0 0 0;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    -webkit-overflow-scrolling: touch;
    width: calc(#{$fullWidth} - #{$borderWidth});
    z-index: 5000;

    li {
      @extend .font-14;
      @extend .ease-out-transition;

      cursor: pointer;
      border-bottom: $defaultBorder;
      padding: $paddingSm $paddingMd;

      &:hover {
        color: $white;
        background-color: $orange;
      }
      &:last-child {
        border-bottom: none;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
      }
    }
  }
}
