@import 'stylesheets/base.scss';

.cars-characteristics-filter {
  margin-top: $marginLr;
  margin-left: $marginLr;
  padding: $paddingLr;
}

.cars-characteristics-filter label {
  @extend .font-14;

  display: block;
  padding: $paddingSm 0;
}

.cars-characteristics-filter .select {
  margin-bottom: $marginSm;
}
