@import './colors.scss';
@import './dimensions.scss';
@import './fonts.scss';
@import './images.scss';

.full-size {
  height: $fullHeight;
  width: $fullWidth;
}

.toolbar {
  clear: both;
  height: $toolbarHeight;
  width: $toolbarWidth;
}
