@import './colors.scss';
@import './dimensions.scss';

$defaultBorder: $borderWidth solid $lightGray;
$defaultColor: $darkGray;
$defaultNavWidth: 300px;

.full-size {
  height: $fullHeight;
  width: $fullWidth;
}

.toolbar {
  clear: both;
  height: $toolbarHeight;
  width: $toolbarWidth;
}

.default-border {
  border: $defaultBorder;
  border-radius: $borderRadius;
}

