$borderRadius: 10px;
$borderWidth: 1px;

$fullHeight: 100%;
$fullWidth: 100%;

$paddingSm: 8px;
$paddingMd: 12px;
$paddingLr: 24px;

$marginSm: 8px;
$marginMd: 12px;
$marginLr: 24px;

$horWrapper: 800px;
$verWrapper: auto;

$toolbarHeight: 80px;
$toolbarWidth: 100%;

