@import 'stylesheets/base.scss';

header {
  @extend .toolbar;
  @extend .font-14;

  img {
    height: calc(#{$toolbarHeight} - (#{$paddingLr} * 2);
    padding-top: $paddingLr;
    padding-left: $paddingLr;
  }

  nav {
    display: inline-block;
    float: right;
    margin-right: $marginMd;

    .item {
      line-height: $toolbarHeight;
      margin: 0 $marginMd 0 $marginMd;
    }
  }
}
