@import 'stylesheets/base.scss';

header {
  @extend .toolbar;
  @extend .font-14;

  border-bottom: $defaultBorder;

  .logo {
    margin-top: $marginLr;
    margin-left: $marginLr;
  }

  nav {
    display: inline-block;
    float: right;
    margin-right: $marginMd;

    a {
      color: $darkGray;
      line-height: $toolbarHeight;
      margin: 0 $marginMd 0 $marginMd;
      text-decoration: none;
    }
  }
}
