@import 'stylesheets/base.scss';

.car-list-header {
  @extend .default-flex-dock;

  display: flex;
  justify-content: space-between;
  margin-left: $marginLr;

  .title div {
    @extend .font-18;

    margin-bottom: $marginMd;
    &:first-child {
      @extend .font-18-bold;
    }
  }

  .order {
    width: calc(#{$defaultNavWidth} - (#{$paddingLr}*2 ));
  }
}
