@import 'stylesheets/base.scss';;

html,
body,
body div#root {
  @extend .font;
  @extend .full-size;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
