@import 'stylesheets/base.scss';

.cars-characteristics-filter {
  margin: $marginLr 0 0 $marginLr;
  padding: $paddingLr;
}

.cars-characteristics-filter label {
  @extend .font-12;

  display: block;
  padding-bottom: $paddingSm;
}

.cars-characteristics-filter .select {
  margin-bottom: $marginMd;
}

.cars-characteristics-filter .button{
  display: block;
  margin-top: $marginLr;
  margin-left: auto;
  margin-right: 0;
}
